<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>
          Create two components
        </li>
        <li>Output beneath each other</li>
        <li>output a warning or sucess</li>
        <li>Style components</li>
      </ol>
      <p>Use internal or external outputs</p>
      <p>Use external or internal templates</p>
      <p>create components</p>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>